#cabecera {
  background-color:rgb(255, 255, 255);
  color:#030303;
  font-family:Courier;
}

#cuerpo {
  background-color:rgb(240, 138, 138);
  font-family:Arial;
  text-indent:20px;
}

#pie {
  background-color:rgb(255, 255, 255);  
  text-align:center;
  color:#7e771e;
}